
<link href="__HOME__css/style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
    table {border:1px solid #dddddd; border-collapse: collapse; width:99%; margin:auto;}
    td {border:1px solid #dddddd;}
    #consignee_addr {width:450px;}
</style>
<div class="block box">
    <div class="blank"></div>
    <div id="ur_here">
        当前位置: <a href="#">首页</a> <code>&gt;</code> 购物流程
    </div>
</div>
<div class="blank"></div>

<div class="blank"></div>
<div class="block">
    <div class="flowBox">
        <h6><span>商品列表</span></h6>
        <form id="formCart">
            <table cellpadding="5" cellspacing="1">
                <tbody><tr>
                        <th>商品名称</th>
                        <th>属性</th>
                        <th>市场价</th>
                        <th>本店价</th>
                        <th>购买数量</th>
                        <th>小计</th>
                        <th>操作</th>
                    </tr>
                <foreach name="cart_datas" key="key" item="d">
                    <tr>
                        <td align="center">
                            <a href="{:U('goods/catelist')}" target="_blank"><img style="width: 80px; height: 80px;" src="__UPLOAD__{$d.goods_smallpic}" title="P806" /></a><br />
                            <a href="{:U('goods/catelist')}" target="_blank" class="f6">{$d.goods_name}</a>
                        </td>

                        <td>
                            <foreach name="d[goods_attr]" key="k" item="dd">
                                {$k}:{$dd}<br />
                            </foreach>
                        </td>

                        <td align="center">￥{$d.goods_mprice}元</td>
                        <td align="center" >￥<span class="goods_price">{$d.goods_price}</span>元</td>
                        <td align="center">
                            [<a href="javascript:;" class="num_cut" data_id="{d.goods_id}"> - </a>]<input name="number" id="goods_number" value="{$d.number}" size="4" style="text-align: center;" />
                            [<a href="javascript:;" class="num_add" data_id="{d.goods_id}"> + </a>]
                        </td>
                        <td align="center">￥<sapn class="subtotal">{$d.subtotal}</sapn>元</td>
                        <td align="center">
                            <a href="javascript:;" data_id="{$d.goods_id}" class="cart_del">删除</a>
                        </td>
                    </tr>
                </foreach>
                </tbody></table>

            <table cellpadding="5" cellspacing="1">
                <tbody><tr>
                        <td>
                            总计 ￥<span id="totalprice">0</span>元              </td>
                    <!--，比市场价 ￥2400.00元 节省了 ￥400.00元 (17%)-->
                        <td align="right">
                            <input value="清空购物车" class="bnt_blue_1"  type="button" />
                            <input name="submit" class="bnt_blue_1" value="更新购物车" type="submit" />
                        </td>
                    </tr>
                </tbody></table>
            <script src="__HOME__js/jquery-1.11.1.js"></script>
            <script type="text/javascript">
                $(function(){
                    $('.cart_del').click(function(){
                        //获取点击商品的id
                        _this = $(this);
                        goods_id = _this.attr('data_id');
                        //发送ajax请求
                        $.post('__CONTROLLER__/del',{'goods_id':goods_id},function(data){
                            if(data.status == 1){
                                _this.parents('tr').remove();
                            }
                        },'json');
                    });

                    //增加事件
                    $('.num_add').click(function(){
                        _this = $(this);
                        val = _this.prev('input').val();
                        val ++;
                        _this.prev('input').val(val);
                        //获取商品的id,传递数据，修改数据库中的信息
                        goods_id = _this.attr('data_id');
                        $.post('__CONTROLLER__/edit',{'goods_id':goods_id,'number':val});
//                        //获取小计
//                        price = _this.parents('tr').find('.goods_price').text();
//                        subtotal = val*price;
//                        _this.parents('tr').find('.subtotal').text(subtotal);
//                        //获取总价 totalprice 需要将所有小计遍历出来each
//                        var totalprice = 0;
//                        $('.subtotal').each(function(){
//                            subprice = $(this).text();
//                            totalprice += parseInt(subprice);
//                        });
//                        $('#totalprice').html(totalprice);
                        get_subtotal($(this),val);
                        get_total();
                    });



                    //减少事件
                    $('.num_cut').click(function(){
                        _this = $(this);
                        val = _this.next('input').val();
                        //获取商品的id,传递数据，修改数据库中的信息
                        goods_id = _this.attr('data_id');
                        if(val > 1){
                            val --;
                            _this.next('input').val(val);
                            $.post('__CONTROLLER__/edit',{'goods_id':goods_id,'number':val});
//                            //获取小计
//                            price = _this.parents('tr').find('.goods_price').text();
//                            subtotal = val*price;
//                            _this.parents('tr').find('.subtotal').text(subtotal);
//                            //获取总价 totalprice 需要将所有小计遍历出来each
//                            var totalprice = 0;
//                            $('.subtotal').each(function(){
//                                subprice = $(this).text();
//                                totalprice += parseInt(subprice);
//                            });
//                            $('#totalprice').html(totalprice);
                            get_subtotal($(this),val);
                            get_total();
                        }
                    });
                    //小计方法
                    function get_subtotal(obj,val){
                        //获取小计
                        price = obj.parents('tr').find('.goods_price').text();
                        subtotal = val*price;
                        obj.parents('tr').find('.subtotal').text(subtotal);
                    }
                    //总价
                    function get_total(){
                        //获取总价 totalprice 需要将所有小计遍历出来each
                        var totalprice = 0;
                        $('.subtotal').each(function(){
                            subprice = $(this).text();
                            totalprice += parseInt(subprice);
                        });
                        $('#totalprice').html(totalprice);
                    }

                });
            </script>
            <input name="step" value="update_cart" type="hidden" />
        </form>
        <table cellpadding="5" cellspacing="0" width="99%">
            <tbody><tr>
                    <td><a href="#"><img src="__HOME__images/continue.gif" alt="continue" /></a></td>
                    <td align="right"><a href="#"><img src="__HOME__images/checkout.gif" alt="checkout" /></a></td>
                </tr>
            </tbody></table>
    </div>
    <div class="blank"></div>
    <div class="blank5"></div>
</div>
