<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--循环-->
    <!--一维数组循环输出：<br/>-->
    <!--<foreach name="arr" item="a">-->
        <!--{$a}<br/>-->
    <!--</foreach>-->
    <!--<br/>-->
    <!--二维数组循环输出：<br/>-->
    <!--<foreach name="arr2" item="a">-->
        <!--{$a[0]}<br/>-->
    <!--</foreach>-->
    <!--<hr/>-->
    <!--二维数组多重循环输出：<br/>-->
    <!--<foreach name="arr2" item="a">-->
        <!--<foreach name="a" item="aa">-->
            <!--{$aa}<br/>-->
        <!--</foreach>-->
    <!--</foreach>-->
<!--<hr/>-->
<!--volist一维数组循环:<br/>-->
<!--<volist name="arr" id="v1" offset="1" length="2">-->
    <!--{$v1}<br/>-->
<!--</volist>-->
<!--volist多维数组循环:<br/>-->
    <!--<volist name="arr2" id="v1" offset="1" length="2">-->
        <!--<volist name="v1" id="vv1" offset="1" length="2">-->
            <!--{$vv1}<br/>-->
        <!--</volist>-->
    <!--</volist>-->
    <!--//文件包含-->
    <!--<include file="./Application/Home/View/Test/header.html" />-->
    <!--<hr/>-->
    <!--<div>文章内容</div>-->
    <!--<include file="./Application/Home/View/Test/foot.html" />-->
判断今天是星期几？<hr/>
    {$date}
    <if condition="$date==0">
        今天是：礼拜天
        <elseif condition="$date==1" />
            今天是：星期一
        <elseif condition="$date==2" />
            今天是：星期二
        <elseif condition="$date==3" />
            今天是：星期三
        <elseif condition="$date==4" />
            今天是：星期四
        <elseif condition="$date==5" />
            今天是：星期五
        <else />
            今天是：星期六
    </if>
<if condition="$date lt 6">
   document.write(alert(1));
</if>
</body>
</html>