<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

        <title>会员列表</title>

        <link href="__ADMIN__css/mine.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <style>
            .tr_color{background-color: #9F88FF}
        </style>
        <div class="div_head">
            <span>
                <span style="float: left;">当前位置是：商品管理-》商品列表</span>
                <span style="float: right; margin-right: 8px; font-weight: bold;">
                    <a style="text-decoration: none;" href="{:U('goods_add')}">【添加商品】</a>
                </span>
            </span>
        </div>
        <div></div>
        
        <div style="font-size: 13px; margin: 10px 5px;">
            <table class="table_a" border="1" width="100%">
                <tbody><tr style="font-weight: bold;">
                        <td>序号</td>
                        <td>商品名称</td>
                        <td>商品描述</td>
                         <td>品牌</td>
                        <td>库存</td>
                        <td>价格</td>
                        <td>商品展示</td>
                        <td>缩略图</td>
                        <td>创建时间</td>

                        <td align="center" colspan="3">操作</td>
                    </tr>
                <foreach name="data" item="d">
                    <tr>
                        <td>{$d.id}</td>
                        <td><a href="{:U('home/goods/detail')}">{$d.goods_name}</a></td>
                        <td>{$d.goods_description}</td>
                        <td>{$d.brand_name}</td>
                        <td>{$d.goods_count}</td>
                        <td>{$d.goods_price}</td>
                        <td><img src="__UPLOAD__{$d.goods_bigpic}" height="60" width="60"></td>
                        <td><img src="__UPLOAD__{$d.goods_smallpic}" height="40" width="40"></td>
                        <!--<td><img src="__ADMIN__img/20121018-174034-58977.jpg" height="60" width="60"></td>-->

                        <td>2012-10-18 17:40:34</td>
                        <td><a href="{:U('pic','id='.$d[id])}">商品相册管理</a></td>
                        <td><a href="{:U('goods_edit','id='.$d[id])}">修改</a></td>
                        <!--<td><a class="goods_del" data-id="{$d.id}" href="javascript:;" ><if condition='$d["goods_status"] eq 1'> 下架  <else />  上架 </if></a></td>-->
                        <td>
                            <a href="javascript:;" class="goods_del" gid="{$d.id}">
                                <if condition="$d['goods_status'] eq 1">
                                    下架
                                <else />
                                    上架
                                </if>
                            </a>
                        </td>
                    </tr>
                </foreach>
                <script src="__ADMIN__js/jquery-1.7.2.js"></script>
                <script type="text/javascript">
                 $(function () {
                    $('.goods_del').click(function(){
                        _this = $(this);
                        id = _this.attr('gid');
                        //使用ajax的post方法将获取的id传出去
                        $.post('__CONTROLLER__/del',{'id':id},function(data){
                            if(data.status == 1){
//                                console.log(data);exit;
                                _this.text(data.info);
                            }
                        },'json');
                    })
                 })
                </script>
                    <tr>
                        <td colspan="20" style="text-align: center;">
                            {$pages}

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>