        <div class="block block1">

            <div class="block box">
                <div class="blank"></div>
                <div id="ur_here">
                    当前位置: <a href="#">首页</a> <code>&gt;</code> 用户注册 
                </div>
            </div>
            <div class="blank"></div>


            <!--放入view具体内容-->

            <div class="block box">

                <div class="usBox">
                    <div class="usBox_2 clearfix">
                        <div class="logtitle3"></div>
                        <form id="sub_form" action="" method="post">
                            <table cellpadding="5" cellspacing="3" style="text-align:left; width:100%; border:0;">
                                <tbody>
                                    <tr>
                                        <td style="width:13%; text-align: right;"><label for="User_username" class="required">用户名 
                                        <span class="required">*</span></label>
                                        </td>

                                        <td style="width:87%;">
                                            <input class="inputBg" size="25" name="user_name" id="user_name" type="text" value="" />                  
                                            <span style="color:red;"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right">
                                            <label for="User_password" class="required">密码 <span class="required">*</span></label>
                                        </td>

                                        <td>
                                            <input class="inputBg" size="25" name="user_pwd" id="user_pwd" type="password" value="" />         
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right"><label for="User_password2">密码确认</label></td>
                                        <td>
                                            <input class="inputBg" size="25" name="user_pwd2" id="user_pwd2" type="password" />
                                        </td>

                                    </tr>
                                    <tr>
                                        <td align="right"><label for="User_user_email">邮箱</label></td>
                                        <td>
                                            <input class="inputBg" size="25" name="user_email" id="user_email" type="text" value="" />    
                                        </td>
                                    </tr>
                                    <tr>

                                        <td align="right"><label for="User_user_qq">qq号码</label></td>
                                        <td>
                                            <input class="inputBg" size="25" name="user_qq" id="user_qq" type="text" value="" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right"><label for="User_user_tel">手机</label></td>
                                        <td>
                                            <input class="inputBg" size="25" name="user_phone" id="user_phone" type="text" value="" />
                                        </td>
                                        <td><input class="send_code_s" type="button" onclick="send_code()" value="点击获取验证码" /></td>
                                    </tr>
                                   <tr>
                                        <td align="right"><label for="User_user_code">短信验证</label></td>
                                        <td><input class="phone_code" type="text" name="phone_code" value="" /></td>
                                    </tr>
                                  
                                    <tr>

                                        <!--textArea($model,$attribute,$htmlOptions=array())-->
                                        <td align="right"><label for="User_user_introduce">验证码</label></td>
                                        <td>
                                        <input class="inputBg" size="25" name="captcha" id="captcha" type="text" value="" /><img onclick="this.src='__CONTROLLER__/verifyImage/t/'+Math.random()" src='__CONTROLLER__/verifyImage'/>
                                                                 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>

                                        <td align="left">
                                            <input name="Submit" value="" class="us_Submit_reg" type="submit" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>

                        </form>        </div>
                </div>
            </div>
            <!--放入view具体内容-->

        </div>
<script src="__HOME__js/jquery-1.11.1.js"></script>
<script src="__HOME__js/jquery.js" type="text/javascript"></script>
<script src="__HOME__js/jquery.validate.js" type="text/javascript"></script>
<script type="text/javascript">

$(function(){
    //获取表单对象
    $("#sub_form").validate({
        //验证规则
        rules:{
            user_name:"required",
            user_pwd:"required",
            user_pwd2: {
                required: true,
                minlength: 5,
                equalTo: "#user_pwd"
            },

        },

        //错误提示
        messages:{
            user_name:'用户名不能为空!',
            user_pwd:'密码不能为空!',
            user_pwd2:{
                required: "确认密码不能为空!",
                minlength: "密码必须大于5位",
                equalTo: "两次密码不一致!"
            }
        }

    })
})
// 点击获取验证码的效果如何实现【发送倒计时效果】
// 思路：
//     1.增加点击时间
//     2.按钮变成灰色 【disabled】
//     3.实现倒计时效果【setTimeout(fn,1000)】
 var time = 60;
    function send_code(){
        // alert(1);
        if(time==0){
           $('#send_code_s').attr('disabled',false); //disabled false表示解锁，可以点击 true则表示锁定，无法点击
           $('#send_code_s').val('点击重新获取');
        }else{
            time--;
         //让按钮不能点击
        $('#send_code_s').attr('disabled',true);
        $('#send_code_s').val('重新获取验证码('+time+')');
        setTimeout(send_code,1000);
        }
       
    }
</script>
        <div class="blank"></div>
